/* ===============
	TYPOGRAPHY
=============== */

@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Body font
$base-font-size: 15px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: 'Cafe24Oneprettynight';
$base-line-height: 28px;
// Headings
$heading-font-weight: 400;
$heading-font-family: 'Cafe24Oneprettynight';